* {
  padding: 0;
  margin: 0;
}

main {
  background-color: white;
  font-size: medium;
  margin: 1% 7%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.fig {
  width: 100%;
}

figcaption {
  font-size: 0.8em;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 5%;
}

.fab,
.fas,
.far {
  padding: 8px;
}

.top-header {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: oblique;
  font-size: 1.8rem;
  line-height: 3rem;
}

h2 {
  margin: 2% 15%;
  text-align: left;
}

h3 {
  font-size: 0.9em;
  text-align: left;
}

.owner {
  width: 90%;
}

.owner-caption {
  margin: 1% 25.5% 3% 5%;
  line-height: 1.8;
}

.editor-hr {
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.4;
}

h4 {
  text-align: left;
  margin-bottom: 0;
}

.main-top {
  padding-top: 80px;
  margin: 0 20%;
  text-align: left;
}

.top-hr {
  opacity: 0.3;
}

p {
  margin: 0 28% 0 15%;
  text-align: left;
  line-height: 2rem;
  padding: 10px 0;
}

iframe {
  width: 56.5%;
  margin-left: -8.2rem;
  padding-top: 5%;
  border: none;
}

.iframe-caption {
  text-align: left;
  margin-left: 15%;
}

header {
  background-color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top: -18px;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  height: 10px;
  padding: 10px 0 0;
  margin: 0;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
}

.link1:hover {
  text-decoration: underline;
}

.linked-button {
  background-color: #326891;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  margin: 10px 15px 5px 0;
  padding: 8px 25px 8px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.header-button {
  margin-top: 5px;
}

.header-underline {
  margin-top: 30px;
  opacity: 0.5;
}

.title {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  font-weight: normal;
  font-style: normal;
}

footer {
  text-align: left;
  margin: 1.5%;
}

.footer-hr {
  margin: 1% 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
}

.footer-link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-header {
  font-size: 13px;
  font-weight: 700;
}

.vertical-line {
  opacity: 0.5;
  margin-right: -7.5rem;
  height: 24.4rem;
}

.editors {
  float: right;
  width: 220px;
  height: auto;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.article {
  display: flex;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.article-image {
  width: 70px;
  height: 70px;
}

.editor-text {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  text-align: left;
}

.editor-text:hover {
  text-decoration: underline;
}

.author-name {
  text-align: left;
  font-weight: bold;
  margin-top: -20px;
  padding-bottom: 0;
}

.date {
  text-align: left;
  font-weight: lighter;
  list-style: none;
  margin-left: 15%;
  font-size: 0.8em;
}

.section-break {
  text-align: center;
  font-size: 0.8em;
}

.section-break-link {
  text-decoration: none;
  color: blue;
}

.section-break-line {
  width: 80px;
  opacity: 0.8;
  margin: 30px 37%;
}

.section-break-link:hover {
  text-decoration: underline;
}

.section-ul {
  list-style-type: none;
  margin-right: 200px;
  padding: 20px 0;
}

.telescope-fig {
  width: 57%;
  margin-left: -9rem;
}

.telescope-caption {
  margin: 0 28% 0 15%;
}

.last-caption {
  margin: 0 28% 0 15%;
  text-align: left;
  line-height: 1.1rem;
  padding: 10px 0;
  font-size: 0.7rem;
  opacity: 0.6;
}

.last-caption-links:hover {
  text-decoration: none;
  color: blue;
}

.inflation-caption {
  margin-bottom: 5px;
}

.inflation-class {
  position: relative;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 0.7rem;
  padding: 2% 5% 0 1%;
  position: absolute;
  margin-right: -80px;
  top: 12.9rem;
}

.text-flex {
  padding: 20px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 0.7rem;
  padding: 2% 5% 0 1%;
  position: absolute;
  margin-right: -80px;
  top: 34rem;
}

.logo {
  width: 200px;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.footer-logo a {
  text-decoration: none;
}

.bottom-button {
  display: flex;
  justify-content: space-between;
  padding: 0 28% 0 15%;
}

.bottom-icon {
  margin-top: 15px;
}

.bigger-text {
  font-size: 1rem;
}

.last-footer-section {
  line-height: 1.6;
}

.last-footer-section-hr {
  margin-bottom: 15px;
  opacity: 0.8;
}

.copyright {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 0 7%;
}

.copyright-link {
  text-decoration: none;
}

.copyright-link:hover {
  text-decoration: underline;
}

/* comment form styles */

#comment-form {
  border: 2px solid rgb(144, 146, 144);
  width: 500px;
  margin-left: 230px;
  text-align: center;
  border-radius: 6px;
  background-color: beige;
}

.comment-content {
  line-height: 30px;
  padding-left: 30px;
}

.form-p {
  text-align: center;
  color: blueviolet;
}

#underline-comment {
  width: 300px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.form-p2 {
  font-size: 13px;
  color: green;
  font-style: italic;
}

.form-submit {
  font-size: 18px;
  width: 100px;
  border-radius: 4px;
}

.form-submit:hover {
  background-color: blueviolet;
  cursor: pointer;
}
