body {
  background-color: rgb(248, 244, 248);
  font-size: medium;
  margin: 1% 7%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.fig {
  width: 100%;
}

figcaption {
  font-size: 0.8em;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 5%;
}

.fab, .fas, .far {
  padding: 8px;
}

.top-header {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: oblique;
  font-size: 1.8rem;
  line-height: 3rem;
}

h2 {
  margin: 2% 20%;
  text-align: left;
}

h3 {
  font-size: 0.9em;
}

.main-top {
  padding-top: 80px;
  margin: 0 20%;
  text-align: left;
}

.top-hr {
  opacity: 0.3;
}

p {
  margin: 0 28% 0 15%;
  text-align: left;
  line-height: 2rem;
  padding: 10px 0;
}

.iframe-caption {
  text-align: left;
  margin-left: 20%;
}

.navbar {
  display: flex;
  height: 10px;
  padding:0px;
  margin: 0;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
}

.link1:hover {
  text-decoration: underline;
}

.linked-button {
  background-color: #326891;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  margin-top: 5px;
  padding-top: 3px;
}

.title {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  font-family: 'ChomskyRegular';
  font-weight: normal;
   font-style: normal;
}

footer {
    text-align: left;
}

.footer-content {
  display:flex;
  justify-content: space-between;
}

.footer-link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.footer-header {
  font-size: 13px;
  font-weight: 700;
}

.vertical-line {
  border-left: 2px solid black;
  height:300px;
  padding-left:1.5rem;
  padding-top: 0;
  opacity:0.4;
}

.editors {
  float:right;
  width: 220px;
  height:auto;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.article {
  display: flex;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.article-image {
  width: 70px;
  height: 70px;
}

.editor-text {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  text-align: left;
}

.editor-text:hover {
  text-decoration: underline;
}

.author-name {
  text-align: left;
  font-weight: bold;
  margin-top: -20px; 
  padding-bottom: 0; 
}

.date {
  text-align: left;
  font-weight: lighter;
  list-style: none;
  margin-left: 12%;
  font-size: 0.8em;
}

.section-break {
  text-align: center;
  margin:0 30%;
  font-size: 0.8em;
  }

.section-break-link {
    text-decoration: none;
  color:blue;
 }


.section-break-line {
  width: 80px;
  opacity: 0.8;
}

.section-break-link:hover {
  text-decoration: underline;
 }

.section-ul {
  list-style-type: none;
}

.last-caption {
  margin: 0 28% 0 15%;
  text-align: left;
  line-height: 1.1rem;
  padding: 10px 0;
  font-size: 0.7rem;
  opacity: 0.6;
}

.last-caption-links {
  text-decoration: none;
}

.last-caption-links:hover {
  text-decoration: underline;
  color:blue;
}